<header>
  <div class="dark-navbar shadow-3 border-bottom-1 border-400">

    <p-menubar [model]="links">
      <ng-template pTemplate="start">
        <a routerLink="/home" class="no-underline">
          <div class="grid mt-1 mr-2">
            <img src="../assets/img/logo.png" height="40" class="mr-2">
            <span class="text-white font-medium mt-2">FinanceApp</span>
          </div>
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <span
          class="pi pi-bell mr-4 p-text-secondary"
          pBadge
          style="font-size: 1.25rem; cursor: pointer;"
          value="2"
          (click)="notification.toggle($event)"
          pTooltip="Notificaciones"
          tooltipPosition="bottom"
        ></span>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-power-off"
          class="p-button-rounded p-button-text p-button-danger"
          pTooltip="Salir"
          tooltipPosition="bottom"
        ></button>
      </ng-template>
    </p-menubar>

    <p-menu
      #notification
      id="notification_menu"
      [model]="notifications"
      [popup]="true"
    ></p-menu>
  </div>
</header>
