<div class="px-4 pt-5 md:px-6 lg:px-8">
  <div class="grid" *ngIf="summary$ | async as summary">
    <div class="col-12 md:col-6 lg:col-4">
      <app-summary-card 
        [title]="'Gastos'" 
        [value]="summary.expenses" 
        [icon]="'shopping-cart'" 
        [color]="'red'"
      ></app-summary-card>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <app-summary-card 
        [title]="'Ingresos'" 
        [value]="summary.ingress" 
        [icon]="'money-bill'" 
        [color]="'green'"
      ></app-summary-card>
    </div>
  
    <div class="col-12 lg:col-4">
      <ng-container *ngIf="isPositive(summary.result); else amountDown">
        <app-summary-card 
          [title]="'Beneficio'" 
          [value]="summary.result" 
          [icon]="'dollar'" 
          [color]="'blue'"
        ></app-summary-card>
      </ng-container>
    
      <ng-template #amountDown>
        <app-summary-card 
          [title]="'Pérdidas'" 
          [value]="summary.result" 
          [icon]="'sort-amount-down'" 
          [color]="'yellow'"
        ></app-summary-card>
      </ng-template>
    </div>
  </div>
</div>
<div class="px-4 py-3 md:px-6 lg:px-8" *ngIf="dataReportsForMonth$ | async">
  <p-panel header="Reporte por meses" [toggleable]="true">    
    <highcharts-chart
      id="months"
      [Highcharts]="Highcharts"
      [constructorType]="'chart'"
      [options]="chartOptionsMonths"
      style="width: auto; height: auto; display: block"
    ></highcharts-chart>   
  </p-panel>
</div>
<div class="px-4 pt-5 md:px-6 lg:px-8" *ngIf="(dataMonthConcepts$ | async) === true">
  <div class="grid">
    <div class="col-12 md:col-6">  
      <p-panel header="Reporte de gastos del mes" [toggleable]="true"> 
        <highcharts-chart
          id="expenses"
          [Highcharts]="Highcharts"
          [constructorType]="'chart'"
          [options]="chartOptionsExpenses"
          style="width: auto; height: auto; display: block"
        ></highcharts-chart>  
      </p-panel> 
    </div>
    <div class="col-12 md:col-6">  
      <p-panel header="Reporte de ingresos del mes" [toggleable]="true"> 
        <highcharts-chart
          id="ingress"
          [Highcharts]="Highcharts"
          [constructorType]="'chart'"
          [options]="chartOptionsIngress"
          style="width: auto; height: auto; display: block"
        ></highcharts-chart>  
      </p-panel> 
    </div>
  </div>
</div>
