<div class="px-4 pt-5 md:px-6 lg:px-8">
  <div class="grid" *ngIf="summary$ | async as summary">
    <div class="col-12 md:col-6 lg:col-4">
      <app-summary-card 
        [title]="'Gastos'" 
        [value]="summary.expenses" 
        [icon]="'shopping-cart'" 
        [color]="'red'"
      ></app-summary-card>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <app-summary-card 
        [title]="'Ingresos'" 
        [value]="summary.ingress" 
        [icon]="'money-bill'" 
        [color]="'green'"
      ></app-summary-card>
    </div>
  
    <div class="col-12 lg:col-4">
      <ng-container *ngIf="isPositive(summary.result); else amountDown">
        <app-summary-card 
          [title]="'Beneficio'" 
          [value]="summary.result" 
          [icon]="'dollar'" 
          [color]="'blue'"
        ></app-summary-card>
      </ng-container>
    
      <ng-template #amountDown>
        <app-summary-card 
          [title]="'Pérdidas'" 
          [value]="summary.result" 
          [icon]="'sort-amount-down'" 
          [color]="'yellow'"
        ></app-summary-card>
      </ng-template>
    </div>
  </div>
</div>
<div class="px-4 py-3 md:px-6 lg:px-8">
  <p-panel header="Creado con PrimeNG" [toggleable]="true">
    <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p>PrimeNG es una biblioteca de componentes de interfaz de usuario para Angular. Proporciona una amplia variedad de componentes UI preconstruidos y de alta calidad, como tablas de datos, grillas, menús, listas desplegables, botones, paneles, calendarios, entre otros.</p>
    <p>PrimeNG se basa en la biblioteca de componentes de interfaz de usuario de PrimeFaces, que se utiliza en el desarrollo de aplicaciones web basadas en Java. La biblioteca PrimeNG está escrita en TypeScript y se integra fácilmente con proyectos de Angular, lo que permite
      a los desarrolladores crear aplicaciones web ricas en funciones y visualmente atractivas.</p>
    <p>La biblioteca PrimeNG es de código abierto y se distribuye bajo la licencia MIT. Los desarrolladores pueden utilizarla de forma gratuita y personalizarla según sus necesidades. Además, PrimeNG cuenta con una comunidad activa que proporciona soporte y contribuye con
      nuevas características y mejoras a la biblioteca.</p>
  </p-panel>
</div>
