.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(82, 81, 81, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  text-align: center;
}
