<div class="p-2 mt-5 md:px-4 lg:px-6">
    <app-table
      [title]="title"
      *ngIf="accounts$ | async as accounts"
      [records]="accounts"
      [columnData]="columnData"
      (details)="showDialogDetails($event)"
      (delete)="confirmDelete($event)"
    ></app-table>
</div>

<app-account-details
  *ngIf="displayDetails"
  [displayDetails]="displayDetails"
  [actionDetails]="actionDetails"
  (closeDetails)="cancelDialogDetails($event)"
></app-account-details>

<p-confirmDialog [header]="'Eliminar'" icon="pi pi-exclamation-triangle"></p-confirmDialog>