<p-dialog
  [(visible)]="displayDetails"
  [header]="titleDetails"
  [closable]="false"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '75vw'}"
  [draggable]="false"
  [resizable]="false"
  [modal]="true">
  <app-receipt-form
    *ngIf="data$ | async as data; else loading"
    [optionsConcept]="data.concepts"
    [optionsCurrency]="data.currencies"
    [receiptForm]="expenseForm"
    (formState)="setForm($event)"
  ></app-receipt-form>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-times"
      [label]="'Cancelar'"
      class="p-button-danger"
      (click)="cancelDialogDetails()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-check"
      [label]="'Aceptar'"
      class="p-button-secondary"
      [disabled]="isInvalidForm()"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
