<p-dialog
  [(visible)]="displayDetails"
  [header]="getTitle(actionDetails)"
  [closable]="false"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '75vw'}"
  [draggable]="false"
  [resizable]="false"
  [modal]="true">
  
  <app-bank-form
    *ngIf="displayForm"
    [bank]="bank"
    [bankForm]="bankForm"
    (formState)="setForm($event)"
  ></app-bank-form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-times"
      [label]="'Cancelar'"
      class="p-button-danger"
      (click)="cancelDialogDetails()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-save"
      [label]="'Guardar'"
      class="p-button-success"
      [disabled]="isInvalidForm() || saving"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>