<form [formGroup]="conceptForm">
    <div class="grid p-fluid">  
        <ng-container *ngIf="concept">
            <div class="field col-12 md:col-6">
                <label for="id-input">{{ 'Id Concepto:' }}</label>
                <input id="id" pInputText type="text" formControlName="id" readonly="readonly">
            </div>
            <div class="field col-12 md:col-6">
                <label for="type-input">{{ 'Id Tipo:' }}</label>
                <input id="type" pInputText type="text" formControlName="type" readonly="readonly">
            </div>
        </ng-container>
        <div class="field col-12">
            <label for="description-input">{{ 'Descripción:' }}</label>
            <input 
                id="description" 
                [class]="isValidField('description') ? 'ng-invalid ng-dirty w-12' : 'w-12'"
                pInputText 
                type="text" 
                formControlName="description"
            >
            <small *ngIf="isValidField('description')" id="concept-help" class="p-error block">
              {{ 'La descripción es obligatoria.' }}
            </small>
        </div>
    </div>
</form>    