<p-dialog
  [(visible)]="displayDetails"
  [header]="getTitle(actionDetails)"
  [closable]="false"
  [breakpoints]="{'960px': '40vw', '640px': '100vw'}"
  [style]="{width: '40vw'}"
  [draggable]="false"
  [resizable]="false"
  [modal]="true">
  
  <app-currency-form
    *ngIf="displayForm; else loading"
    [currency]="currency"
    [currencyForm]="currencyForm"
    (formState)="setForm($event)"
  ></app-currency-form>
  
  <ng-template #loading><app-loading></app-loading></ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-times"
      [label]="'Cancelar'"
      class="p-button-danger"
      (click)="cancelDialogDetails()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-save"
      [label]="'Guardar'"
      class="p-button-success"
      [disabled]="isInvalidForm()"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>