body {
  background: url('../assets/img/body-bg.png') !important;
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './assets/scss/components/header.component.scss';
