<div class="p-2 mt-5 md:px-4 lg:px-6">
  <app-receipt-table
    [title]="title"
    *ngIf="ingress$ | async as ingress; else loading"
    [receipts]="ingress"
    (details)="showDialogDetails($event)"
    (delete)="confirmDelete($event)"
  ></app-receipt-table>
</div>

<app-ingress-details
  *ngIf="displayDetails"
  [displayDetails]="displayDetails"
  [actionDetails]="actionDetails"
  (closeDetails)="cancelDialogDetails($event)"
></app-ingress-details>

<p-confirmDialog [header]="'Eliminar'" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<ng-template #loading><app-loading></app-loading></ng-template>

