<div class="p-2 mt-5 md:px-4 lg:px-6">
  <app-receipt-table
    [title]="title"
    *ngIf="expenses$ | async as expenses"
    [receipts]="expenses"
    (details)="showDialogDetails($event)"
    (filter)="showDialogFilter()"
  ></app-receipt-table>
</div>

<p-dialog
  [header]="'Filtrar comprobantes'"
  [(visible)]="displayFilter"
  [draggable]="false"
  [resizable]="false"
  [modal]="true">
  Content
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-check"
      [label]="'Aceptar'"
      class="p-button-secondary"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  [header]="titleDetails"
  [(visible)]="displayDetails"
  [draggable]="false"
  [resizable]="false"
  [modal]="true">
  <app-receipt-form></app-receipt-form>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-times"
      [label]="'Cancelar'"
      class="p-button-danger"
      (click)="cancelDialogDetails()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-check"
      [label]="'Aceptar'"
      class="p-button-secondary"
    ></button>
  </ng-template>
</p-dialog>

