<p-card>
  <p-table
    #dt1
    responsiveLayout="scroll"
    styleClass="p-datatable-striped"
    [value]="records"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [(first)]="first"
    [currentPageReportTemplate]="pageReport"
    [rowsPerPageOptions]="arrayRows"
    [globalFilterFields]="fields"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <button
          pButton type="button"
          icon="pi pi-plus"
          [label]="'Nuevo'"
          class="p-button-success"
          (click)="showDetails()"
        ></button>
        <span class="text-xl">{{ title }}</span>
        <button
          pButton type="button"
          icon="pi pi-filter"
          [label]="filter ? 'Ocultar filtros': 'Mostrar filtros'"
          [ngClass]="filter ? 'p-button-outlined': 'p-button-primary'"
          (click)="showFilter()"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
          <th 
            *ngFor="let col of columnData" 
            [pSortableColumn]="string(col.value)">
            {{ col.label }} <p-sortIcon [field]="string(col.value)"></p-sortIcon>
          </th>
          <th class="text-center">{{ 'Acciones' }}</th>
      </tr>
      <tr *ngIf="filter">
        <th *ngFor="let col of columnData">
          <p-columnFilter type="text" [field]="string(col.value)"></p-columnFilter>
        </th>
        <th>&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-register>
      <tr>
          <td *ngFor="let col of columnData">
            <app-field-pipe 
              [value]="register[string(col.value)]" 
              [type]="col.type"
            ></app-field-pipe>
          </td>
          <td class="text-center">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              class="p-button-rounded p-button-text p-button-plain mr-2"
              (click)="showDetails(register.id)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirmDelete(register.id)"
            ></button>
          </td>
      </tr>
    </ng-template>
  </p-table>

</p-card>
